@model AmenityVM
@{
    ViewData["Title"] = "Delete";
}

<div class="w-100 card border-0 p-4">
    <!-- Card Header -->
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Amenity</h2>
            </div>
        </div>
    </div>

    <!-- Card Body -->
    <div class="card-body border p-4">
        <form method="post" asp-action="Delete" asp-controller="Amenity" class="row">
            <div class="p-3">
                <input asp-for="@Model.Id" hidden />

                    <!-- Villas -->
                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.VillaId" asp-items="@Model.VillaList " disabled
                        class="form-select border shodow">
                                <option disabled selected> --Select Villa--</option>
                        </select>
                    <label asp-for="@Model.VillaId" class="ms-2"></label>

                </div>

                <!-- Name -->
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.Name" disabled class="form-control border shadow" />
                    <label asp-for="@Model.Name" class="ms-2"></label>

                </div>

                <!-- Description -->
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.Description" disabled class="form-control border shadow" />
                    <label asp-for="@Model.Description" class="ms-2"></label>

                </div>



                <!-- Submit Button -->
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger w-100">
                            <i class="bi bi-check-circle"></i> Delete
                        </button>
                    </div>

                    <div class="col-6 col-md-3">
                        <a asp-action="index" asp-controller="Amenity" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {

    @{
                                        <partial name="_ValidationScriptsPartial" />
    }
}